h1 {
  text-align: center;
  font-family: "arial";
}

.formulario {
  margin: 20px;
  font-size: 19px;
  font-family: monospace;
  text-align: center;
}

#uno {
  height: 15px;
}

#dos {
  height: 15px;
}

#valor {
  font-size: 20px;
}

#cotizador {
  font-size: 20px;
  border-radius: 12%;
  background-color: blue;
}
